<nav>
<p>[[docs|Docs]] / [[docs/guides|Guides]]</p>
</nav>

<details>
<summary>[[docs/guides/getting-started|Getting Started]]</summary>
{{menu "getting-started"}}
</details>

<details>
<summary>[[docs/guides/navigation|Navigation]]</summary>
{{menu "navigation"}}
</details>

<details>
<summary>[[docs/guides/pages|Pages]]</summary>
{{menu "pages"}}
</details>

<details>
<summary>[[docs/guides/content|Content]]</summary>
{{menu "content"}}
</details>

<details>
<summary>[[docs/guides/collections|Collections]]</summary>
{{menu "collections"}}
</details>

<details>
<summary>[[docs/guides/plugins|Plugins]]</summary>
{{menu "plugins"}}
</details>

<details>
<summary>[[docs/guides/design-patterns|Design Patterns]]</summary>
{{menu "design-patterns"}}
</details>

<details>
<summary>[[docs/guides/search-engines|Search Engines]]</summary>
{{menu "seo"}}
</details>

<details>
<summary>[[docs/guides/translate|Translate]]</summary>
{{menu "translate"}}
</details>

<details>
<summary>[[docs/guides/publish|Publish]]</summary>
{{menu "publish"}}
</details>

<details>
<summary>[[docs/guides/other|Other Topics]]</summary>
{{menu "other"}}
</details>
