<nav>
<p>[[docs/installation|Installation]]</p>
{{menu "installation"}}
</nav>

<nav>
<p>[[docs/getting-started|Getting Started]]</p>
{{menu "getting-started"}}
</nav>

<nav>
<p>[[docs/navigation|Navigation]]</p>
{{menu "navigation"}}
</nav>

<nav>
<p>[[docs/pages|Pages]]</p>
{{menu "pages"}}
</nav>

<nav>
<p>[[docs/content|Content]]</p>
{{menu "content"}}
</nav>

<nav>
<p>[[docs/plugins|Plugins]]</p>
{{menu "plugins"}}
</nav>

<nav>
<p>[[docs/design-patterns|Design Patterns]]</p>
{{menu "design-patterns"}}
</nav>

<nav>
<p>[[docs/search-engines|Search Engines]]</p>
{{menu "seo"}}
</nav>

<nav>
<p>[[docs/translate|Translate]]</p>
{{menu "translate"}}
</nav>

<nav>
<p>[[docs/publish|Publish]]</p>
{{menu "publish"}}
</nav>

<nav>
<p>[[docs/other|Other Topics]]</p>
{{menu "other"}}
</nav>

<nav>
<p>[[docs/reference|Reference]]</p>
{{menu "reference"}}
</nav>
