<section>
  <p>Getting Started</p>
  {{menu "getting-started-idx"}}
</section>

<section>
  <p>Pages</p>
  {{menu "pages-idx"}}
</section>

<section>
  <p>Content</p>
  {{menu "content-idx"}}
</section>

<section>
  <p>Design Patterns</p>
  {{menu "design-patterns-idx"}}
</section>

<section>
  <p>Search Engines</p>
  {{menu "seo-idx"}}
</section>

<section>
  <p>Translate</p>
  {{menu "translate-idx"}}
</section>

<section>
  <p>Other Topics</p>
  {{menu "other-idx"}}
</section>
