<section>
  <p>Getting Started</p>
  {{menu "getting-started"}}
</section>

<section>
  <p>Pages</p>
  {{menu "pages"}}
</section>

<section>
  <p>Content</p>
  {{menu "content"}}
</section>

<section>
  <p>Design Patterns</p>
  {{menu "design-patterns"}}
</section>

<section>
  <p>Search Engines</p>
  {{menu "seo"}}
</section>

<section>
  <p>Translate</p>
  {{menu "translate"}}
</section>

<section>
  <p>Other Topics</p>
  {{menu "other"}}
</section>
