<nav>
<p>Getting Started</p>
{{menu "getting-started"}}
</nav>

<nav>
<p>Pages</p>
{{menu "pages"}}
</nav>

<nav>
<p>Content</p>
{{menu "content"}}
</nav>

<nav>
<p>Design Patterns</p>
{{menu "design-patterns"}}
</nav>

<nav>
<p>Search Engines</p>
{{menu "seo"}}
</nav>

<nav>
<p>Translate</p>
{{menu "translate"}}
</nav>

<nav>
<p>Publish</p>
{{menu "publish"}}
</nav>

<nav>
<p>Other Topics</p>
{{menu "other"}}
</nav>
