<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head}}
    {{author}}
    {{favicon}}
    {{styles main="/assets/css/style.css"}}
  </head>
  <body>
    {{> docs-header}}
    <main>{{partial}}</main>
    {{> docs-footer}}
    {{#scripts}}hljs.initHighlightingOnLoad();{{/scripts}}
    {{livereload}}
  </body>
</html>
