{{#with (lookup @root/menus menu)}}
{{#next this @root/href}}
{{#page this}}
{{#if prefix}}{{prefix}}{{else}}Next: {{/if}}<a class="next" href="{{ link href }}" title="{{title}}">{{title}}</a>
{{/page}}
{{/next}}
{{/with}}

